html,
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
body {
  font-size: 1rem;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #3f3a64;
}
a:hover {
  color: #009f4d;
}
.pull-right-demo-bar {
  float: right;
  position: fixed;
  right: 0px;
  top: 150px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
.toggle-right-sidebar span {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}
#right-sidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 140px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}
#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px 10px;
  padding-top: 70px;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}
/* Home CSS */
.header {
  position: relative;
}
.fullheader {
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header .navbar-light .navbar-brand i {
  color: #009f4d;
  margin-right: 5px;
  font-size: 2vw;
}
.header .text {
  font-size: 2vw;
  color: white;
  vertical-align: bottom;
  font-weight: 600;
}
.header .navbar .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 35px;
  font-weight: 600;
  opacity: 0.9;
  color: white;
}
.header .navbar-nav li {
  padding: 0 12px;
}
.header .navbar-nav {
  text-transform: uppercase;
  /* color: #fff; */
}
.header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 1;
}
.header form i {
  color: #fff;
  font-size: 20px;
}
.header form i:first-of-type {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.header form i:last-of-type {
  margin-left: 1rem;
}
/* home__carousel */
.home__carousel .carousel-caption h5 {
  font-size: 65px;
  line-height: 1.1;
  max-width: 800px;
  font-weight: 600;
}
.home__carousel .carousel-caption p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
  padding: 10px 0;
}
.home__carousel .carousel-caption {
  text-align: left;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__carousel .carousel-item::after {
  content: "";
  background-color: #1d2a37b3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
button {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 15px;
  background-color: #009f4d;
  color: #fff;
  border: #fff;
}
.home__carousel .back {
  position: absolute;
  top: 90%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #3f3a64;
  text-align: center;
  border: 1px solid #00000000;
  opacity: 1;
  transition: opacity 0.15s ease;
  left: 85%;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}
.home__carousel .go {
  position: absolute;
  top: 90%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  padding: 0;
  color: #3f3a64;
  text-align: center;
  border: 1px solid #00000000;
  opacity: 1;
  transition: opacity 0.15s ease;
  left: 91%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}
.home__carousel .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.home__carousel .shape path {
  fill: #fff;
}
.animate__delay1 {
  animation-delay: 1s;
}
.animate__delay2 {
  animation-delay: 1.5s;
}
/* home about */
.home__about .about {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}
h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
}

.home__about .about__left,
.home__about .about__right {
  padding: 0 15px;
  width: 50%;
}
h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  padding: 15px 0;
}
.home__about .about__left ul li {
  list-style: none;
  margin-bottom: 15px;
}
.home__about .about__left ul i {
  color: #fff;
  margin-right: 5px;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #009f4d;
  line-height: 20px;
  text-align: center;
}
.home__about .about__left ul a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
}
.home__about .about__right img {
  max-width: 100%;
  border-radius: 8px;
}
/* Home new */
.home__new {
  background-color: #f7f7f7;
}
.home__new .new__left,
.home__new .new__right {
  width: 50%;
  padding: 0 10px;
}
.home__new .new__right .rownew {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.home__new .new__right .colnew {
  width: 50%;
  padding: 0 10px;
  padding-bottom: 20px;
}
.home__new .new__right .item {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: #fff;
  transition: 0.3s ease;
}
.home__new .new__right .item a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
}
.home__new .new__right .item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.home__services .col-4 img {
  width: 100%;
  border-radius: 8px;
}
.home__services .col-4 .item h5 {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  background: #fff;
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid #00000000;
  border-radius: 8px;
  transform: translateY(-25px);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__services .col-4 .item h5 a {
  color: #3f3a64;
  transition: all 0.3s;
}
.home__services .col-4 .item h5 a:hover {
  color: #009f4d;
}
.home__services .col-4 .item p {
  margin-top: -10px;
  text-align: center;
}
.home__services .col-4 .item button {
  background-color: #fff;
  color: #3f3a64;
  transition: all 0.3s;
}
.home__services .col-4 .item button:hover {
  color: #009f4d;
}
/* Home Gallery */
.home__gallery {
  background-color: #f8f9fa;
}
.home__gallery .row .col-4 img {
  width: 100%;
  vertical-align: middle;
  height: 100%;
}
.home__gallery .row .col-4 {
  padding-right: calc(0.5 * var(--bs-gutter-x));
  padding-left: calc(0.5 * var(--bs-gutter-x));
}
.home__gallery .row .col-4 .hover__content .card-title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.home__gallery .row .col-4 .hover__content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}
.home__gallery .row .col-4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2a37b3;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.home__gallery .row .col-4 .hover__content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}
.home__gallery .row .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.home__gallery .row .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.home__gallery .row .item:hover .hover__content {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}
.home__gallery .row .item {
  position: relative;
  overflow: hidden;
}
.home__gallery .gallery__bottom {
  border-top: 1px solid #eee;
}
.home__gallery .gallery__bottom img {
  width: 100%;
  height: 100%;
  padding: 0 18px;
}
/* home__success */
.home__success .progress {
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}
.home__success .progress__title {
  font-size: 18px;
  color: #3f3a64;
  font-weight: 400;
}
.home__success .progress__info1 .progress__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  background-size: cover;
  width: 80%;
}
.home__success .progress .progress__bar::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}
.home__success .progress .progress__bar::after {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: #fff;
}
.home__success .progress__info2 .progress__bar {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
  transition: width 0.6s ease;
  width: 95%;
  background-size: cover;
}
.home__success .progress__info2 .progress__bar::before {
  right: 5%;
}
.home__success .progress__info2 .progress__bar::after {
  right: 5%;
}
.home__success .progress__info3 .progress__bar {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  width: 60%;
}
.home__success .progress__info3 .progress__bar::before {
  right: 40%;
}
.home__success .progress__info3 .progress__bar::after {
  right: 40%;
}
.home__success .progress__info4 .progress__bar {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  width: 85%;
  background-size: cover;
}
.home__success .progress__info4 .progress__bar::before {
  right: 15%;
}
.home__success .progress__info4 .progress__bar::after {
  right: 15%;
}
.home__success .progress__title .marketing {
  width: 80%;
}
.home__success .progress__title .design {
  width: 95%;
}
.home__success .progress__title .analytics {
  width: 60%;
}
.home__success .progress__title .development {
  width: 85%;
}
/* home feedback */
.home__feedback {
  background-color: #f8f9fa;
}
.home__feedback .feedback .item img {
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.home__feedback .feedback p,
.home__feedback .feedback h3 {
  margin: 0;
  padding: 0;
}
.home__feedback .feedback h3 {
  font-size: 20px;
  font-weight: 600;
}
.home__feedback .feedback .logo__slick {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.home__feedback .feedback .title__slick {
  padding-left: 20px;
}
.home__feedback .feedback .item {
  padding: 30px 40px;
}
/* home latest */
.home__latest .item__center {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 0.25rem;
}
.home__latest .item__bottom {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 0.75rem 1.25rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.home__latest .latest .item {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #00000000;
  overflow: hidden;
}
.home__latest .item__bottom p {
  margin: 0;
  padding: 0;
}
.home__latest .item__center p {
  margin: 0;
  padding: 0;
}
.home__latest .item__center p:first-of-type a {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}
.home__latest .item__center p:last-of-type a {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  margin-top: 10px;
  transition: all 0.3s;
}
.home__latest .item__center p:last-of-type a:hover {
  color: #009f4d;
}
.home__latest .item__bottom p:first-of-type span {
  font-size: 16px;
  color: #3f3a64;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  transition: all 0.3s;
}
.home__latest .item__bottom p:first-of-type span:hover {
  color: #009f4d;
}
.home__latest .item__bottom p:first-of-type {
  flex: 1 1 auto;
  margin-left: 10px;
}
.home__latest .item__top img {
  object-fit: cover;
  transition: all 0.5s;
}
.home__latest .item:hover .hover__img {
  transform: scale(1.1);
}
/* Homesubcribe */
.home__subcribe {
  background-image: url(../img/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home__subcribe .subcribe__title {
  max-width: 700px;
  margin: 0 auto;
}
.home__subcribe form {
  max-width: 550px;
  margin: auto;
}
.home__subcribe form .input-group-text {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 15px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.home__subcribe form input:first-of-type {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  background: #fff;
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
}
.home__subcribe form input:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  background-color: #00a63f;
  border: 1px;
  font-weight: 600;
}
/* homefooter */
.home__footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  padding-top: 3rem;
}
.home__footer .navbar-brand i {
  color: #009f4d;
  margin-right: 5px;
  font-size: 2vw;
}
.home__footer .text {
  font-size: 2vw;
  color: white;
  vertical-align: bottom;
  font-weight: 600;
}
.home__footer .logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 35px;
  font-weight: 600;
  opacity: 0.9;
  color: white;
}
.home__footer .footer__top .col-4 p,
.home__footer .footer__top .col-4 a {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  padding: 0;
  transition: all 0.5s;
}
.home__footer .footer__top .col-4 a:hover {
  color: #fff;
}
.home__footer .footer__top .col-4 .info a {
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: none;
  border-radius: 50%;
  transition: 0.3s;
  color: #97a1a9;
  opacity: 0.6;
}
.home__footer .footer__top .col-4 .info a:hover {
  color: #fff;
  opacity: 1;
}
.home__footer h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.home__footer .col-2 ul {
  padding: 0;
  margin: 0;
}
.home__footer .col-2 ul li {
  margin-bottom: 10px;
  list-style: none;
}
.home__footer .col-2 ul a {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  transition: all 0.5s;
}
.home__footer .col-2 ul a:hover {
  color: #fff;
}
/* footerbot */
.footer__bot {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  text-align: center;
}
.home__footer .footer__bot {
  align-self: center;
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  opacity: 1;
}
.home__footer .footer__bot a {
  color: #009f4d;
  transition: all 0.5s;
}
.home__footer .footer__bot a:hover {
  color: #fff;
}
.my_bttn {
  width: 50px;
  height: 50px;
  background: #00a63f;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  visibility: visible;
}
/* ABOUT */
.about__carousel .carousel__bg {
  background: url(../img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
}
.carousel__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about__carousel .carousel__title h5 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.about__carousel .carousel__title p {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
.about__carousel .carousell::after {
  content: "";
  background: #1d2a37b3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about__company .banner .bg-shape {
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  background: #009f4d;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about__company .banner img {
  border-top-left-radius: 85%;
  border-top-right-radius: 99%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 126%;
}
.about__company .banner .imginfo__box {
  background-color: #009f4d;
  color: #fff;
  position: absolute;
  right: 85px;
  bottom: 10px;
  padding: 35px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  border-radius: 8px;
  height: 200px;
  transform: rotate(45deg);
  text-align: center;
}
.about__company .banner .imginfo__info {
  transform: rotate(-45deg);
}
.about__company .banner .imginfo__info h6 {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px 0;
}
.about__company .banner .imginfo__info p {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}
.about__company .company__right i {
  font-size: 50px;
  vertical-align: middle;
  margin-left: 10px;
  color: #009f4d;
}
.about__company .company__bot .item {
  padding: 50px 30px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 1rem 2rem var(--box-shadow-color);
  display: flex;
  gap: 20px;
}
.about__company .company__bot .item i {
  font-size: 34px;
  width: 35px;
  color: #009f4d;
}
.about__company .company__bot .item a {
  display: block;
  color: #3f3a64;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
}
/* .about__develop */
.about__develop {
  background-color: #f8f9fa;
}
.about__develop .develop__left h4 {
  color: #009f4d;
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}
.about__develop .develop__left h5 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: #3f3a64;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s ease-in;
}
/* .about__business */
.about__business {
  background: url(../img/bg1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.about__business::before {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.about__our .item {
  border-radius: 8px;
}
.about__business h5 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}
.about__business p {
  color: #eee;
}
.about__business .business {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.about__business .business i {
  font-size: 60px;
  width: 35px;
  color: #fff;
}
/* .about__our */
.about__our .hover__content .card-title {
  font-size: 20px;
  color: #fff;
  display: block;
}
.about__our .hover__content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}
.about__our .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2a37b3;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.about__our .hover__content {
  position: absolute;
  top: 55%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 10%;
  color: #ffffff;
  z-index: 2;
}
.about__our .row .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.about__our .row .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.about__our .row .item:hover .hover__content {
  opacity: 1;
  visibility: visible;
  top: 20%;
}
.about__our .hover__content .content i {
  line-height: 37px;
  color: #fff;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s linear;
}
.about__our .hover__content .content i:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}
.about__our .row .item {
  position: relative;
  overflow: hidden;
}
.about__our .col-3 .title h5 {
  margin: 25px 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: #3f3a64;
}
.about__our .col-3 .title p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  padding: 0;
}
/* .about__choose */
.about__choose{
  background: #f7f7f7;
}
.about__choose .about__title{
  max-width: 800px;
  margin: 0 auto;
}
.about__choose .choose .item{
  display: flex;
  align-items: center;
}
.about__choose .choose .item i{
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 8px;
  color: #009f4d;
  border: 1px solid;
  text-align: center;
  font-size: 30px;
}
.about__choose .choose .item h3 a{
  text-align: left;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
}
.about__choose .choose .item p{
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: .8;
}
.about__choose .choose .item .info{
  flex: 1;
  padding-left:16px ;
}
.about__choose .choose .item .color2{
  color: #3f3a64;
}
.about__choose .choose .item .color3{
  color: #ff4c4c;
}
.about__choose .choose .item .color4{
  color: #f48924;
}
/* .about__get */
.about__get .get .get__left p{
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: .8;
}
.about__get .get__right button:hover{
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}