html,
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
body{
    font-size: 1rem;
    line-height: 1.5;
}
*{
    box-sizing: border-box;
}
/* Home CSS */
.home__header{
    position: relative;
}
.fullheader{
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.home__header .navbar-light .navbar-brand i{
    color: #009f4d;
    margin-right: 5px;
    font-size: 2vw;
}
.home__header .text{
    font-size: 2vw;
    color: white;
    vertical-align: bottom;
}
.home__header .navbar .navbar-brand span.logo{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 35px;
    font-weight: 600;
    opacity: .9;
    color: white;
}
.home__header .navbar-nav li{
    padding: 0 12px;
}
.home__header .navbar-nav{
    text-transform: uppercase;
    /* color: #fff; */
}
.home__header .navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.home__header form i{
    color: #fff;
    font-size: 20px;
}
.home__header form i:first-of-type{
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.home__header form i:last-of-type{
    margin-left: 1rem;
}
/* home__carousel */
.home__carousel .carousel-caption h5{
    font-size: 65px;
    line-height: 1.1;
    max-width: 800px;
    font-weight: 600;
}
.home__carousel .carousel-caption p{
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
    padding: 10px 0;
}
.home__carousel .carousel-caption{
    text-align: left;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home__carousel .carousel-item::after{
    content: "";
    background-color: #1d2a37b3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} 
.home__carousel .carousel-caption button{
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 15px;
    background-color: #009f4d;
    color: #fff;
    border:#fff;
}
.home__carousel .back{
    position: absolute;
    top: 90%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    color:blue;
    text-align: center;
    border: 1px solid #00000000;
    opacity: .5;
    transition: opacity .15s ease;
    left: 85%;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}
.home__carousel .go{
    position: absolute;
    top: 90%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fff;
    padding: 0;
    color: blue;
    text-align: center;
    border: 1px solid #00000000;
    opacity: .5;
    transition: opacity .15s ease;
    left: 91%;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}
.home__carousel .shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.home__carousel .shape path{
    fill: #fff;
}
.animate__delay1{
    animation-delay: 1s;
}
.animate__delay2{
    animation-delay: 1.5s;
}